<form #updateForm="ngForm" (ngSubmit)="update(updateForm)" novalidate>
    <div class="panel panel-default content" [@routerTransition]>
      <div class="panel-heading panel-heading-height-auto">
        <i class="fa fa-book"></i>&nbsp;
        <label>Annuler la mission</label>
      </div>
      <div class="panel-body modal-item-content">
          <div class="row form-group">
                <select  class="form-control col-lg-14" name="motif" [(ngModel)]="cancelMission.motif" #motif="ngModel" > 
                  <option *ngFor="let motif of motifs" >
                    {{motif}}
                  </option>
                </select>
          </div> 
          <div class="row">
            <form class="form-inline">
                        <div class="row">
                            <div class="form-group">
                                <label class="label-form col-lg-9 text-top">Toute la récurrence</label><br>
                                <select class="form-control col-lg-7">
                                    <option>NON</option>
                                    <option>OUI</option>
                                </select>                      
                            </div>
                            <div class="form-group">
                                <label class="label-form col-lg-16 text-top">Frais d'annulation</label><br>
                            <input type="text" class="form-control col-lg-7" required  name="frais" value="€0.00" disabled>                              </div>
                        </div> 
            </form>
          </div>
        </div>
      <div class="panel-footer text-right">
          <button class="btn btn-secondary" (click)="activeModal.close('Close click')">Annuler</button>&nbsp;
          <button class="btn btn-success" (click)="update(updateForm)" >Valider</button>
      </div>
    </div>
  </form>