$topnav-background-color: #e3e8ee;
:host {
    .navbar {
        max-width: 100vw;
        border-color: #f77f00;
        background-color: $topnav-background-color;
        .navbar-form{
            font-size: 14px;
            line-height: 20px;
            color: #2b2d50;
            margin-top: 2px;
            overflow: hidden;
            white-space: pre;
            height: auto;
            border-radius: 5px;
            background-color:white;
            padding: 0px;
            margin: 0px;
            margin-left: 182px;
        }
        .navbar-form>label{
            margin-left: -400px;
        }
        .navbar-form-input{
            font-size: 14px;
            background-color: white;
            border-color: white;
            width: 400px;
            margin-left:0;
            padding-left: 40px;
            margin-top: -2px;
            z-index: 0;
        }
        .navbar-brand {
            color: #fff;
            background-image: url("/assets/images/kliner-logo~.png");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            line-height: 60px;
            float: left;
            padding: 19px 15px;
            font-size: 18px;
            line-height: 20px;
            height: 40px;
            margin: 0;
            padding: 0;
            position: relative;
            width: 100px;
        }
        .nav-item > a {
            color: #999;
            &:hover {
                color: #fff;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
