
<form #updateForm="ngForm" (ngSubmit)="update(updateForm)" novalidate>
<div class="panel panel-default content" [@routerTransition]>
  <div class="panel-heading panel-heading-height-auto">
    <i class="fa fa-home"></i>&nbsp;
    <label>Modifier l'adresse</label>
  </div>
  <div class="panel-body modal-item-content">
      <div class="row form-group">
          <label class="label-form col-lg-4 text-right">Adresse : </label>
          <input type="text" class="form-control col-lg-7" required name="location"
          [(ngModel)]="adresseupdate.location" #location="ngModel">
        </div>
        <div class="row form-group">
            <label class="label-form col-lg-4 text-right">Default : </label>&nbsp;
            <input type="checkbox" required name="default" [(ngModel)]="adresseupdate.default" #default="ngModel">
          </div>
  </div>
  <div class="panel-footer text-right">
      <button class="btn btn-success" (click)="update(updateForm)">Valider</button>&nbsp;
      <button class="btn btn-danger"(click)="activeModal.close('Close click')">Quitter</button>
  </div>
</div>
</form>