<div class="panel panel-default content" [@routerTransition]>
  <div class="panel-heading  panel-heading-height-auto">
    <label class="form-label">Créer le coupon</label>
    <p>
      <em>
        Les coupons sont à utiliser principalement pour des opérations promotionnelles</em></p>
  </div>
  <div class="panel-body">
    <form role="form">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Nom de l'opération</label>
            <input class="form-control" type="text" placeholder="Ex:Promo Week-end, Black-Friday">
            <p class="help-block">Ce nom apparaîtra sur les factures clients</p>
          </div>
          <div class="form-group">
            <label>ID</label>
            <input class="form-control" type="text">
            <p class="help-block">Laissez ce champ vide afin que le système
              génère automatiquement un ID pour le coupon</p>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>Type</label>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Pourcentage de
                  réduction
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Montant fixe de réduction
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-6">
                <label>Pourcentage de réduction</label>
                <input type="text" placeholder="%" class="form-control text-right">
              </div>
              <div class="col-lg-6">
                <label>Montant à déduire</label>
                <input type="text" placeholder="$" class="form-control text-right">
              </div>
            </div>
          </div>
          <div class="col-lg-6 border-left">
            <div class="form-group">
              <label>Limites d'utilisation (au 1er terme échu)</label>
              <div class="radio col-lg-12">
                <label>
                  <input type="checkbox" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                  Le coupon expirera automatiquement au délà de cette date
                </label>
                <label class="form-control col-lg-6 col-md-5">OCT 12 20</label>
              </div>
              <div class="radio col-lg-12">
                <label>
                  <input type="checkbox" name="optionsRadios" id="optionsRadios2" value="option2">
                  Montant fixe de réduction
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-6">
                <label>Au total</label>
                <input type="text" placeholder="fois" class="form-control text-right">
              </div>
              <div class="col-lg-6">
                <label>Par client</label>
                <input type="text" placeholder="fois" class="form-control text-right">
              </div>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-6">
              <label>Bénéficiaire</label>
            <div class="form-group">
              <div class="col-lg-6">
              <div class="form-group">
                  <div class="radio">
                    <label>
                      <input type="radio" name="beneficiaire" id="optionsRadios1" 
                      value="option1" checked>Client unique
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="beneficiaire" id="optionsRadios2"
                       value="option2">Tous les clients
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Saisir le nom du client">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
              <label>Application</label>
              <div class="form-group">
                  <div class="radio">
                    <label>
                      <input type="radio" name="application" id="optionsRadios1" 
                      value="option1" checked>Automatique
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="application" id="optionsRadios2"
                       value="option2">Manuelle
                    </label>
                  </div>
                </div>
          </div>
        </div>
    </form>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-lg-12 ">
        <span class="pull-right">
          <button class="btn btn-default">Cancel</button>&nbsp;
          <button class="btn btn-primary">Créer le coupon</button>
        </span></div>
    </div>
  </div>
</div>