<div class="panel panel-default content" [@routerTransition]>
  <div class="panel-heading">
    <label>Adresse</label>
    <span class="pull-right">
      <button class="btn btn-default  btn-xs" (click)="openAdd()"><i class="fa fa-plus" aria-hidden="true"></i>
        Ajouter</button>&nbsp;
      <button class="btn btn-default  btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i>
        Change default</button>
    </span>
  </div>
  <div class="panel-body no-padding">
    <div class="col-lg-12">
      <div *ngIf="!client.adresses" class="no-item">
        Pas d'adresse actif
      </div>
      <table class="col-lg-12">
        <tr *ngFor="let item of client.adresses">
          <td><i class="fa fa-arrow-right"></i></td>
          <td>{{item.location}}
            <span class="pull-right-container">
              <em> <span class="label label-info pull-right" *ngIf="item.default">default</span></em>
            </span>
          </td>
          <td class="table-action-default">
            <span class="pull-right-container">
              <span class="label pull-right">
                <button class="btn btn-default  btn-xs" (click)="delete(item.id)"> <i class="fa fa-delete">delete</i></button>&nbsp;
                <button class="btn btn-default  btn-xs" (click)="openEdit(item.id)"> <i class="fa fa-pencil">edit</i></button>
              </span>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>