<div class="panel panel-default content" *ngIf="mission.client" [@routerTransition]>
  <div class="panel-heading">
    <label><strong>Infos client</strong></label>
    <span class="pull-right">
      <span class="pull-right">
        <button class="btn btn-default  btn-xs" (click)="sendSms(mission.client.phoneNumber)"  >
        <i class="fa fa-plus" aria-hidden="true"></i>
        <strong>Envoyez un sms</strong></button>
      </span>
    </span>
  </div>
  <div class="panel-body no-padding">
    <div class="col-lg-6 col-sm-6 form-group">
        <div class="row">
          <label class="col-lg-4 col-sm-4 font-weight-normal">Nom</label>
          <a class="active"  [routerLink]="['/clients/', mission.client.id]" >{{mission.client.fullname}}</a>
        </div>
        <div class="row">
          <label class="col-lg-4 col-sm-4 font-weight-normal">T&eacute;l</label>
          <strong class="col-lg-4 col-sm-4 font-weight-bold">{{mission.client.phoneNumber}}</strong>
        </div>
    </div>
    <div class="col-lg-6 col-sm-6 form-group">
        <div class="row">
          <label class="col-lg-4 col-sm-4 font-weight-normal">Adresse</label>
          <label class="font-weight-bold">
            {{mission.client.adresse.lieu}}
              <i class="fa fa-info-circle">
                  <span class="only-show-on-hover">
                    code porte: {{mission.client.adresse.code}}
                    étage:{{mission.client.adresse.etage}}
                  </span>
              </i>
          </label>
        </div>
        <div class="row">
          <label class="col-lg-4 col-sm-4 font-weight-normal">Mail</label>
          <label class="font-weight-bold" >{{mission.client.email}}</label>
        </div>
    </div>
  </div>
</div>