/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "template.css";
@media print {
    .breadcrumb {
        display: none !important;
    }
}
@import "ng-pick-datetime/assets/style/picker.min.css";
@import "sass/main";

