<form #updateForm="ngForm" (ngSubmit)="update(updateForm)" novalidate>
    <div class="panel panel-default content" [@routerTransition]>
      <div class="panel-heading panel-heading-height-auto">
        <i class="fa fa-book"></i>&nbsp;
        <label>Modifier la date de rendez de vous</label>
      </div>
      <div class="panel-body modal-item-content">
          <div class="row form-group">
            <label class="label-form col-lg-4 text-top">Date de rendez-vous</label>
            <input class="form-control col-lg-7" placeholder="yyyy-mm-dd" 
            name="rdvDate"  [(ngModel)]="newMission.rdvDate" #rdvDate="ngModel" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar"
                type="button"></button>
            </div>
            <div >
                Date Time:
                <input [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
                <owl-date-time id="test1" #dt ></owl-date-time>
            </div>
          </div>
      </div>
      <div class="panel-footer text-right">
          <button class="btn btn-secondary" (click)="activeModal.close('Close click')">Annuler</button>&nbsp;
          <button class="btn btn-success" (click)="update(updateForm)" >Modifier</button>
      </div>
    </div>
</form>