<form #updateForm="ngForm" (ngSubmit)="update(updateForm)" novalidate>
  <div class="panel panel-default content" [@routerTransition]>
    <div class="panel-heading panel-heading-height-auto">
      <i class="fa fa-home"></i>&nbsp;
      <label>Ajouter une adresse</label>
    </div>
    <div class="panel-body modal-item-content">
      <div class="row">
        <div class="col-lg-4 text-right">
          <label class="label-form">Adresse : </label>
        </div>
        <div class="col-lg-7">
          <input type="text" class="form-control" required name="location" [(ngModel)]="adresse.location" #location="ngModel">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 text-right">
          <label class="label-form">Default : </label>
        </div>
        <div class="col-lg-7">
          <input type="checkbox" required name="default" name="default" [(ngModel)]="adresse.default" #default="ngModel">
        </div>
      </div>
    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-success">Valider</button>&nbsp;
      <button class="btn btn-danger" (click)="activeModal.close('Close click')">Quitter</button>
    </div>
  </div>
</form>