<app-missions-entete [mission]="mission" ></app-missions-entete>
<app-missions-client-info [mission]="mission" ></app-missions-client-info>
<app-missions-commande-details [mission]="mission"></app-missions-commande-details>
<app-missions-intervention [mission]="mission" ></app-missions-intervention>
<app-missions-prestataire [mission]="mission"  ></app-missions-prestataire>
<app-missions-tarification  ></app-missions-tarification>
<app-missions-discount></app-missions-discount>
<app-missions-paiement></app-missions-paiement>
<app-missions-facturation></app-missions-facturation>
<app-missions-events></app-missions-events>
