<div class="panel panel-default content" [@routerTransition]>
  <div class="panel-heading panel-heading-height-auto">
    <div>
      {{client.email}} <span class="pull-right-container">
        <span class="label label-primary pull-right">CUSTOMER <i class=" fa fa-user"></i></span>
      </span></div>
    <div>
      <button class="btn btn-default  btn-xs"> <i class="fa fa-plus"></i> Add note</button>
      &nbsp;
      <button class="btn btn-default  btn-xs"> . . .</button>
    </div>
  </div>
  <div class="panel-body no-padding">
    <span class="label label-default pull-left"> <i class=" fa fa-user"></i></span>
    <div class="row">
      <div class="col-lg-8">
        Customer was created
      </div>
      <div class="col-lg-8">
        {{client.dateInscription|date:"short"}}
      </div>
    </div>
  </div>
</div>
<app-clients-info [client]="client"></app-clients-info>
<app-clients-adresse [client]="client"></app-clients-adresse>
<div class="panel panel-default content" [@routerTransition]>
  <div class="panel-heading">
    <label class="col-md-5 no-padding">Paiement (Default)</label>

    SOLDE:0.00$
    <span class="pull-right">
      <button class="btn btn-default  btn-xs"><i class="fa fa-plus" aria-hidden="true"></i>
        Ajouter</button>&nbsp;
      <button class="btn btn-default  btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i>
        Change default</button>
    </span>
  </div>
  <div class="panel-body no-padding">
    <div class="col-lg-12">
      <table class="col-lg-12">
        <tr>
          <td><i class="fa fa-arrow-right"></i></td>
          <td><i class="fa fa-cc-visa" aria-hidden="true"></i>
            ********6891 &nbsp;&nbsp;&nbsp;01/01/2020
            <span class="pull-right-container">
              <em> <span class="label label-info pull-right">default</span></em>
            </span>
          </td>
          <td class="table-action-default">
            <span class="pull-right-container">
              <span class="label pull-right">
                <button class="btn btn-default  btn-xs"> <i class="fa fa-delete">delete</i></button>&nbsp;
                <button class="btn btn-default  btn-xs"> <i class="fa fa-pencil">edit</i></button>
              </span>
            </span>
          </td>
        </tr>
        <tr>
          <td><i class="fa fa-arrow-right"></i></td>
          <td><i class="fa fa-cc-amex" aria-hidden="true"></i>
            ********4001 &nbsp;&nbsp;&nbsp;11/2019
          </td>
          <td>
            <span class="pull-right-container">
              <span class="label pull-right">
                <button class="btn btn-default  btn-xs"> <i class="fa fa-delete">delete</i></button>&nbsp;
                <button class="btn btn-default  btn-xs"> <i class="fa fa-pencil">edit</i></button>
              </span>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="panel panel-default content" [@routerTransition]>
  <div class="panel-heading">
    <label>Profil PRO</label>
    <span class="pull-right">
      <button class="btn btn-default  btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i>
        Edit</button>
    </span>
  </div>
  <div class="panel-body no-padding">
    <div class="col-lg-6 col-sm-6 form-group">
      <div class="row">
        <label class="col-lg-4 col-sm-4 font-weight-normal">Soci&eacute;t&eacute;</label>
        <label>SARL OLVERSOFT</label>
      </div>
      <div class="row">
        <label class="col-lg-4 col-sm-4 font-weight-normal">Adresse de facturation</label>
        <label>12 rue Paul 95100 Argenteuil</label>
      </div>
    </div>
    <div class="col-lg-6 col-sm-6 form-group">
      <div class="row">
        <label class="col-lg-4 col-sm-4 font-weight-normal">Mail Pro</label>
        <label>test@test.com</label>
      </div>
      <div class="row">
        <label class="col-lg-4 col-sm-4 font-weight-normal">Contact</label>
        <label>Aitman Merbou</label>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default content" [@routerTransition]>
  <div class="panel-heading">
    <label class="col-md-5 no-padding">Paiement PRO</label>
    SOLDE:0.00$
    <span class="pull-right">
      <button class="btn btn-default  btn-xs"><i class="fa fa-plus" aria-hidden="true"></i>
        Add bank account</button>&nbsp;
      <button class="btn btn-default  btn-xs"><i class="fa fa-plus" aria-hidden="true"></i>
        Add card</button>&nbsp;
      <button class="btn btn-default  btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i>
        Change default</button>
    </span>
  </div>
  <div class="panel-body no-padding">
    <div class="col-lg-12 no-padding no-margin">
      <table class="table col-lg-12 no-padding no-margin">
        <tr>
          <td><i class="fa fa-arrow-right"></i></td>
          <td><i class="fa fa-cc-visa" aria-hidden="true"></i>
            ********6891 &nbsp;&nbsp;&nbsp;01/01/2020
            <span class="pull-right-container">
              <em> <span class="label label-info pull-right">default</span></em>
            </span>
          </td>
          <td class="table-action-default">
            <span class="pull-right-container">
              <span class="label pull-right">
                <button class="btn btn-default  btn-xs"> <i class="fa fa-delete">delete</i></button>&nbsp;
                <button class="btn btn-default  btn-xs"> <i class="fa fa-pencil">edit</i></button>
              </span>
            </span>
          </td>
        </tr>
        <tr>
          <td><i class="fa fa-arrow-right"></i></td>
          <td><i class="fa fa-cc-amex" aria-hidden="true"></i>
            ********4001 &nbsp;&nbsp;&nbsp;11/2019
          </td>
          <td>
            <span class="pull-right-container">
              <span class="label pull-right">
                <button class="btn btn-default  btn-xs"> <i class="fa fa-delete">delete</i></button>&nbsp;
                <button class="btn btn-default  btn-xs"> <i class="fa fa-pencil">edit</i></button>
              </span>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="panel panel-default content" [@routerTransition]>
  <div class="panel-heading">
    <label>Missions</label>
    <span class="pull-right">
      <button class="btn btn-default  btn-xs"><i class="fa fa-plus" aria-hidden="true"></i>
        Ajouter</button>
    </span>
  </div>
  <div class="panel-body no-padding">
    <table class="table no-margin no-padding">
      <thead>
        <tr>
          <th>RÉFÉRENCE</th>
          <th>DATE D'INTERVENTION</th>
          <th>AIDE MÉNAGÉRE</th>
          <th>PRIX</th>
          <th>ABONNÉ</th>
          <th></th>
          <th>NOTE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>MI006765</td>
          <td>22-11-2017 14:30</td>
          <td>Aline Odette</td>
          <td>44,00$</td>
          <td></td>
          <td> <label class="label label-success">Terminer</label></td>
          <td>4</td>
        </tr>
        <tr>
          <td>MI006766</td>
          <td>22-11-2017 16:30</td>
          <td>Faty Ndeye</td>
          <td>24,50$</td>
          <td>
            <i class="fa fa-check-square-o" aria-hidden="true"></i>
          </td>
          <td> <label class="label label-warning">Assigné</label></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="panel panel-default content" [@routerTransition]>
  <div class="panel-heading">
    <label>Aides ménagère</label>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body no-padding">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Préférées</a>
      </li>
      <li><a href="#profile" data-toggle="tab">Blacklist</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="home">
          <table class="table no-padding no-margin">
            <tr>
              <td>Vanessa Adriella</td>
              <td>0667122123</td>
              <td>Ella Services</td>
              <td>4.42</td>
              <td>...</td>
            </tr>
            <tr>
              <td>Pascale Hermine</td>
              <td>0667122100</td>
              <td>Ella Services</td>
              <td>4.42</td>
              <td>...</td>
            </tr>
          </table>
        </div>
        <div class="tab-pane fade" id="profile">
          <table class="table no-padding no-margin">
            <tr>
              <td>Sandrion Hama</td>
              <td>84324732424</td>
              <td>Sulfate Diop</td>
              <td>10.42</td>
              <td>...</td>
            </tr>
            <tr>
              <td>Pascal de Grand</td>
              <td>43727432432</td>
              <td>Dorter Chock</td>
              <td>2.72</td>
              <td>...</td>
            </tr>
          </table>
        </div>
    </div>
  </div>
  <!-- /.panel-body no-padding -->
</div>
<div class="panel panel-default content" [@routerTransition]>
  <div class="panel-heading">
    <label class="">Discount</label>

    <span class="pull-right">
      <button class="btn btn-default  btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i>
        Change coupon</button>&nbsp;
      <button class="btn btn-default  btn-xs"><i class="fa fa-remove" aria-hidden="true"></i>
        Remove coupon</button>
    </span>
  </div>
  <div class="panel-body no-padding">
    <div class="col-lg-12 no-padding no-margin">
      <table class="table col-lg-12 no-margin">
        <thead>
          <tr>
            <th>COUPON</th>
            <th>OPÉRATION</th>
            <th>CONDITIONS</th>
            <th>UTILISATIONS</th>
            <th>DATE EXPIRATION</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>GZXNDE32</td>
            <td>Promo Week-end 10-07-08</td>
            <td>10% de réduction</td>
            <td>1/4</td>
            <td>25/10/2018 23:00</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="panel panel-default content" [@routerTransition]>
  <div class="panel-heading">
    <label>Factures</label>

    <span class="pull-right">
      <button class="btn btn-default  btn-xs"><i class="fa fa-plus" aria-hidden="true"></i>
        Create invoice</button>
    </span>
  </div>
  <div class="panel-body no-padding">
    <div class="col-lg-12 no-padding">
      <table class="table col-lg-12 no-padding no-margin">
        <thead>
          <tr>
            <th>MONTANT</th>
            <th>NUMERO DE FACTURE</th>
            <th>STATUT</th>
            <th>CRÉÉE LE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>86.50$</td>
            <td>JDAKJDJASDE9321</td>
            <td>Payé</td>
            <td>25/10/24</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>