<form #updateForm="ngForm" (ngSubmit)="update(updateForm)" novalidate>
  <div class="panel panel-default content" [@routerTransition]>
    <div class="panel-heading panel-heading-height-auto">
      <i class="fa fa-user"></i>&nbsp;   
      <label>Infos client</label>
    </div>
    <div class="panel-body modal-item-content">
      <div class="row form-group">
        <label class="label-form col-lg-4 text-right">Nom : </label>
        <input type="text" class="form-control col-lg-7" required name="fullname" [(ngModel)]="clientupdate.fullname" #fullname="ngModel">
      </div>
      <div class="row form-group">
        <label class="label-form col-lg-4 text-right">Prénom(s) : </label>
        <input type="text" class="form-control col-lg-7" required name="lastName" [(ngModel)]="clientupdate.lastName" #lastName="ngModel">
      </div>
      <div class="row form-group">
        <label class="label-form col-lg-4 text-right">E-mail : </label>
        <input type="text" class="form-control col-lg-7" required name="email" [(ngModel)]="clientupdate.email" #email="ngModel">
      </div>
      <div class="row form-group">
        <label class="label-form col-lg-4 text-right">Téléphone : </label>
        <input type="text" class="form-control col-lg-7" required name="phoneNumber" [(ngModel)]="clientupdate.phoneNumber"
          #phoneNumer="ngModel">
      </div>
    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-success" (click)="update(updateForm)">Valider</button>&nbsp;
      <button class="btn btn-danger" (click)="activeModal.close('Close click')">Quitter</button>
    </div>
  </div>
</form>