<div class="panel panel-default content">
  <div class="panel-heading">
    <label class="col-md-5  no-padding">Paiement PRO</label>
    SOLDE:0.00$
    <span class="pull-right">
      <button class="btn btn-default  btn-xs"><i class="fa fa-plus" aria-hidden="true"></i>
        Add bank account</button>&nbsp;
      <button class="btn btn-default  btn-xs"><i class="fa fa-plus" aria-hidden="true"></i>
        Add card</button>&nbsp;
      <button class="btn btn-default  btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i>
        Change default</button>
    </span>
  </div>
  <div class="panel-body no-padding">
    <div class="col-lg-12 no-padding no-margin">
      <table class="table col-lg-12 no-padding no-margin">
        <tr>
          <td><i class="fa fa-arrow-right"></i></td>
          <td><i class="fa fa-cc-visa" aria-hidden="true"></i>
            ********6891 &nbsp;&nbsp;&nbsp;01/01/2020
            <span class="pull-right-container">
              <em> <span class="label label-info pull-right">default</span></em>
            </span>
          </td>
          <td class="table-action-default">
            <span class="pull-right-container">
              <span class="label pull-right">
                <button class="btn btn-default  btn-xs"> <i class="fa fa-delete">delete</i></button>&nbsp;
                <button class="btn btn-default  btn-xs"> <i class="fa fa-pencil">edit</i></button>
              </span>
            </span>
          </td>
        </tr>
        <tr>
          <td><i class="fa fa-arrow-right"></i></td>
          <td><i class="fa fa-cc-amex" aria-hidden="true"></i>
            ********4001 &nbsp;&nbsp;&nbsp;11/2019
          </td>
          <td>
            <span class="pull-right-container">
              <span class="label pull-right">
                <button class="btn btn-default  btn-xs"> <i class="fa fa-delete">delete</i></button>&nbsp;
                <button class="btn btn-default  btn-xs"> <i class="fa fa-pencil">edit</i></button>
              </span>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
