<div class="panel panel-default content">
  <div class="panel-heading">
      <label>Profil PRO</label>
      <span class="pull-right">
          <button class="btn btn-default  btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i>
            Edit</button>
      </span>
  </div>
  <div class="panel-body no-padding">
    <div class="col-lg-6">
      <table class="col-lg-12">
        <tr>
          <td>Société</td>
          <th>SARL OLVERSOFT</th>
        </tr>
        <tr>
          <td>Adresse de facturation</td>
          <th>12 rue Paul 95100 Argenteuil</th>
        </tr>
      </table>
    </div>
    <div class="col-lg-6">
      <table class="col-lg-12">
        <tr>
          <td>Mail Pro</td>
          <th>test@test.com</th>
        </tr>
        <tr>
          <td>Contact</td>
          <th>Aitman Merbou</th>
        </tr>
      </table>
    </div>
  </div>
</div>
