<div class="content panel panel-default" [@routerTransition]>
  <app-table-header [dataTableResult]="dataTableResult"></app-table-header>
  <div class="row">
    <div class="col-lg-12 table-responsive">
      <table #dataTable class="table table-hover compact" width="100%">
        <thead>
          <tr>
            <th class="th-sm">SOCIETE
            </th>
            <th class="th-sm">CONTACT
            </th>
            <th class="th-sm th-5-">VILLES
            </th>
            <th class="th-sm">STATUT
            </th>
            <th class="th-sm">COMPÉTENCE
            </th>
            <th class="th-sm">CREATION
            </th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>