<div class="panel panel-default content">
  <div class="panel-heading">
    <label>Adresse</label>
    <span class="pull-right">
      <button class="btn btn-default  btn-xs"><i class="fa fa-plus" aria-hidden="true"></i>
        Ajouter</button>&nbsp;
      <button class="btn btn-default  btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i>
        Change default</button>
    </span>
  </div>
  <div class="panel-body no-padding">
    <div class="col-lg-12">
      <table class="col-lg-12">
        <tr>
          <td><i class="fa fa-arrow-right"></i></td>
          <td>11 avenue des champs-Elysés 75008 Paris
            <span class="pull-right-container">
              <em> <span class="label label-info pull-right">default</span></em>
            </span>
          </td>
          <td class="table-action-default">
            <span class="pull-right-container">
              <span class="label pull-right">
                <button class="btn btn-default  btn-xs"> <i class="fa fa-delete">delete</i></button>&nbsp;
                <button class="btn btn-default  btn-xs"> <i class="fa fa-pencil">edit</i></button>
              </span>
            </span>
          </td>
        </tr>
        <tr>
          <td><i class="fa fa-arrow-right"></i></td>
          <td>10 rue Pasteur 92600 Asnières-sur-Seine <i class="fa fa-mobile"></i>
          </td>
          <td>
            <span class="pull-right-container">
              <span class="label pull-right">
                <button class="btn btn-default  btn-xs"> <i class="fa fa-delete">delete</i></button>&nbsp;
                <button class="btn btn-default  btn-xs"> <i class="fa fa-pencil">edit</i></button>
              </span>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
