<div class="panel panel-default content" [@routerTransition]>
    <div class="panel-heading">
      <label>Assurances</label>
      <span class="pull-right">
        <span class="pull-right">
            <button class="btn btn-default  btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i>
              Déclarer litige</button>
              <button class="btn btn-default  btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i>
                Edit</button>
        </span>
      </span>
    </div>
    <div class="panel-body no-padding">
      <div class="col-lg-6 col-sm-6 form-group">
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Assureur</label>
            <label>ALLIANZ</label>
          </div>
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Numéro contrat</label>
            <label>XTTPMSD</label>
          </div>
      </div>
      <div class="col-lg-6 col-sm-6 form-group">
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Contact</label>
            <label>Paul Bermoz</label>
          </div>
          <div class="row">
            <label class="col-lg-4 col-sm-4 font-weight-normal">Mail</label>
            <label>tes@tes.com</label>
          </div>
      </div>
    </div>
  </div>