<div class="panel panel-default content">
  <div class="panel-heading">
    <label>Aides ménagère</label>
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body no-padding">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Préférées</a>
      </li>
      <li><a href="#profile" data-toggle="tab">Blacklist</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade in active" id="home">
        <table class="table no-padding no-margin">
          <tr>
            <td>Vanessa Adriella</td>
            <td>0667122123</td>
            <td>Ella Services</td>
            <td>4.42</td>
            <td>...</td>
          </tr>
          <tr>
            <td>Pascale Hermine</td>
            <td>0667122100</td>
            <td>Ella Services</td>
            <td>4.42</td>
            <td>...</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- /.panel-body no-padding -->
</div>