<form #addForm="ngForm" (ngSubmit)="add(addForm)" novalidate>
  <div class="panel panel-default content" [@routerTransition]>
    <div class="panel-heading panel-heading-height-auto">
      <i class="fa fa-book"></i>&nbsp;
      <label>Envoyer un commentaire</label>
    </div>
    <div class="panel-body modal-item-content">
      <div class="row form-group" >
        <textarea class="form-control rounded-0"  rows="10" 
        placeholder="Saisissez votre commentaire" required name="note" [(ngModel)]="missionote.commentaire" #note="ngModel">
        </textarea>
      </div>
    </div>
    <div class="panel-footer text-right">
        <button class="btn btn-secondary" (click)="activeModal.close('Close click')">Cancel</button>&nbsp;
        <button class="btn btn-primary" (click)="add(addForm)" >Envoyer</button>
    </div>
  </div>
</form>