<form #smsForm="ngForm" (ngSubmit)="sendSms(smsForm)" novalidate>
    <div class="panel panel-default content" [@routerTransition]>
      <div class="panel-heading panel-heading-height-auto">
        <i class="fa fa-book"></i>&nbsp;
        <label>Envoyer un SMS</label>
      </div>
      <div class="panel-body modal-item-content">
        <div class="row form-group">
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10" placeholder="Saisissez votre message"
          name="sms" [(ngModel)]="missionsms.sms" #sms="ngModel" >
          </textarea>
        </div>
      </div>
      <div class="panel-footer text-right">
        <button class="btn btn-secondary" (click)="activeModal.close('Close click')">Cancel</button>&nbsp;
        <button class="btn btn-primary" (click)="sendSms(smsForm)">Envoyer</button>
      </div>
    </div>
  </form>